* {
    box-sizing: border-box;
}

body {
    background-image: url(https://c0.wallpaperflare.com/preview/607/843/824/after-the-rain-close-up-dark-green-dark-green-plants.jpg);
    background-size: 130%; 
    margin: 0;
}

.menu ul {
    display: flex;
    list-style-type: none;
    align-self: center;
    gap: 200px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    color: 	#FFFFFF;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 1520px;
    min-height: 100px;
    background-color: #243736;
    border-bottom: 1px solid rgba(218, 228, 225, 0.76);
   
   
}


.h1 {

    color: #FFFFFF;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    
   
}
.menu-link {
    font-size: 20px;
    padding: 0 60px;
    line-height: 23px;
    color: #FFFFFF;
}

.menu-list {
    display: flex;
    list-style: none;
}

.login-button {
    font-size: 19px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    min-height: 50px;
    background-color: #91a690 ;
    border-radius: 30px;
}



.image img {
    height: 255px;
    width: 70%;
    object-position: cover;
    border-radius: 7px;
    margin-top: 100px;
    margin-left: 50px ;
    margin-bottom: 0px;
    
}



.info h3 {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 50px;
    
    
    
    

}

.info-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
   

}

.price {
    margin-left: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;

}

.button {
    border-radius: 50px;
    margin-right: 40px;
    font-size: 20px;
    background-color: #91a690;
    align-items: center;
    
    
   
}

.container{ 
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
 
}




.footer {
    height: 90px;
    background: #243736;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    border-top: 1px solid rgba(218, 228, 225, 0.76);
}